@page "/"

<PageTitle>Country Game</PageTitle>

<h1>This is a country Quiz Game</h1>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            
        }
    }

}